
.pokemon-button {
    background-color: #357b70;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
    .pokemon-button {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  
  /* For screens larger than 600px */
  @media (min-width: 600px) {
    .pokemon-button {
      font-size: 16px;
      padding: 15px 32px;
    }
  }

  .pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  